ul {
  padding-left: 0;
  li {
    list-style: none;
    margin-top: 10px;
  }
}

h1 {
  font-size: $h1-font-size;
}


h2 {
  color: $black;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: $h2-font-size;
}

h3 {
  font-weight: 400;
  font-size: $h3-font-size;
}


h4 {
  margin-bottom: 15px;
  font-size: $h4-font-size;
}

.separator {
  background-color: $primary;
  height: 2px;
  width: 150px;
  margin: 15px auto 70px auto;
}

p {
  font-size: 16px;
  line-height: 25px;
}

.btn-lg {
  min-width: 235px;
}

@include media-breakpoint-down(sm) {
.btn-lg {
  font-size: 15px;
  padding: 10px 10px;
}
}

.btn-primary {
  &:hover, &:active {
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  }
}

.section {
  padding: 80px 0 40px 0;
}

@include media-breakpoint-down (lg) {
  html {
      font-size: 90%;
  }
}

@include media-breakpoint-down(md) {
  html {
      font-size: 80%;
  }
}

@include media-breakpoint-down(sm) {
  html {
      font-size: 65%;
    }
}

.container-copyright {
  p {
    margin-bottom: 0;
  }
}

.section-dark {
  color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

main {
  min-height: 100vh;
  padding-bottom: 73px;
}

footer {
  margin-top: -73px;
}

.btn {
  min-width: 130px;
}