.subscribtion-form {
  max-width: 655px;
  margin-top: 40px;
  .btn-lg {
    padding: 18px 30px;
  }
}

.form-content-text {
  p {
    padding-top: 12px;
    border-top: 1px solid rgba(128, 128, 128, 0.41);
  }
}
