.pricing-slice-btn {
    width: 174px;
}

.plan-features {
  ul {
    text-align: left;
    color: $secondary;
    font-weight: 300;
    font-size: 15px;
    @extend .ml-3;
  }
}

.pricing-slice-card-body {
  min-height: 380px;
}